* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.input {
    width: 500px;
    height: 30px;
    font-size: 20px;
    
}
.search-hints {
    width: 500px;
    height: 300px;
    overflow: scroll;
    text-align: left;
    border: 1px solid black;
    border-top: 0;
    font-size: 20px;
    
}
.items {
    transition-property: background-color;
    transition-duration: 0.3s;
}
.items:hover {
    background-color: gray;
}