.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.products-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}

.products {
    height: 200px;
    width: 210px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}
.pagination {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.page {
    margin-top: 10px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    cursor: pointer;
}
.active {
    background-color: aqua;
}
.decrement, .increment {
    font-size: 30px;
    cursor: pointer;
}
.decrement:disabled, .increment:disabled {
    opacity: 0.3;
}

