
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-header{
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
}
.component-container {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    padding: 16px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}